<!-- Top Bar -->
<section id="" class="p-3 text-white" style="background-color:darkblue;">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-phone"></i>+254 726 746 234</div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> info@cityark.com
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <!-- <a href="#"> <i class="fab fa-twitter text-white"></i> </a>
          <a href="#"> <i class="fab fa-facebook text-white"></i> </a> -->
          <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>
          <!-- Linkedin -->
      <a
      data-mdb-ripple-init
      class="btn text-white btn-floating m-1"
      style="background-color: #0082ca;"
      href="#!"
      role="button"
      ><i class="fab fa-linkedin-in"></i
    ></a>
          <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
        </div>
      </div>
    </div>
  </div>
</section>
