{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome{% endblock %}

{% load static %}

{% block content %}
<!-- Showcase -->
<section id="showcase" >
  <div class="container text-center" >
    <div class="home-search p-5" style="background-color:darkblue;">
      <div class="overlay p-5" style="background-color:rgb(35, 178, 221); border-radius: 10px;">
        <h1 class="display-4 mb-4">Say Goodbye To Endless Searching</h1>
        <p class="lead">
          Find your perfect match: Search effortlessly through our extensive listings and discover your dream home today.
          Experience the future of home buying: Explore listings, connect with agents, and take the first step towards homeownership on our user-friendly platform.
        </p>
        <div class="search">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input
                  type="text"
                  name="keywords"
                  class="form-control"
                  placeholder="Keyword (Pool, Garage, etc)"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">City</label>
                <input
                  type="text"
                  name="city"
                  class="form-control"
                  placeholder="City"
                />
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Area</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">Area (All)</option>
                  {% for key,value in state_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Bedrooms</label>
                <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Bedrooms (All)</option>
                  {% for key,value in bedroom_choices.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled"
                    >Max Price (Any)</option
                  >
                  {% for key,value in price_choices.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-danger btn-block mt-4" type="submit">
              Submit form
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h1 class="text-center mb-3">Latest Listings</h1>
    <div class="row">
      {% if listings %}
        {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="" />
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-danger text-white">Ksh{{ listing.price | intcomma}}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ listing.title }}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }},
                    {{ listing.zipcode }}
                  </p>
                </div>
                <hr />
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }}
                  </div>
                  <div class="col-6"><i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6"><i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
                  <div class="col-6"><i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
                </div>
                <hr />
                <div class="row py-2 text-secondary">
                  <div class="col-6"><i class="fas fa-user"></i> {{ listing.realtor }}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6"><i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
                </div>
                <hr />
                <a href="{% url 'listing' listing.id %}" class="btn btn-danger btn-block"
                  >More Info</a
                >
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>No listings available</p>
        </div>
      {% endif %}
</section>

<!--listing start-->
<section style="background-color: #eee;">
  <div class="text-center container py-5">
    <h4 class="mt-4 mb-5"><strong>Our Upcoming Projects</strong></h4>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <a href="{% url 'listings' %}">
                    <img src="{% static 'img/4.jpg' %}" class="w-100" />
                    <div class="mask">
                        <div class="d-flex justify-content-start align-items-end h-100">
                            <h5><span class="badge bg-success ms-2">New</span></h5>
                        </div>
                    </div>
                    <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(238, 14, 14, 0.15);"></div>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <a href="{% url 'listings' %}" class="text-reset">
                    <h5 class="card-title mb-3">Listings</h5>
                </a>
                <a href="{% url 'listings' %}" class="text-reset">
                    <p>View all listings</p>
                </a>
                <h6 class="mb-3">Ksh 90M</h6>
            </div>
        </div>
    </div>
    

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <a href="{% url 'listings' %}">
                  <img src="https://images.pexels.com/photos/1463917/pexels-photo-1463917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                      class="w-100" />
                  <div class="mask">
                      <div class="d-flex justify-content-start align-items-end h-100">
                          <h5><span class="badge bg-success ms-2">Upcoming</span></h5>
                      </div>
                  </div>
                  <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
              </a>
          </div>
          <div class="card-body">
              <a href="{% url 'listings' %}" class="text-reset">
                  <h5 class="card-title mb-3">Listings</h5>
              </a>
              <a href="{% url 'listings' %}" class="text-reset">
                  <p>View all listings</p>
              </a>
              <h6 class="mb-3">Ksh 610M</h6>
          </div>
      </div>
  </div>
  

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
            <a href="{% url 'listings' %}">
                <img src="https://images.pexels.com/photos/3656188/pexels-photo-3656188.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="w-100" />
                <div class="mask">
                    <div class="d-flex justify-content-start align-items-end h-100">
                        <h5><span class="badge bg-danger ms-2">-20%</span></h5>
                    </div>
                </div>
                <div class="hover-overlay">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
            </a>
        </div>
        <div class="card-body">
            <a href="{% url 'listings' %}" class="text-reset">
                <h5 class="card-title mb-3">Listings</h5>
            </a>
            <a href="{% url 'listings' %}" class="text-reset">
                <p>View all listings</p>
            </a>
            <h6 class="mb-3">
                <s>Ksh 90M</s><strong class="ms-2 text-danger">Ksh 70M</strong>
            </h6>
        </div>
    </div>
</div>


    

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
            data-mdb-ripple-color="light">
            <img src="https://images.pexels.com/photos/1475938/pexels-photo-1475938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="w-100" />
            <a href="#!">
              <div class="mask">
                <div class="d-flex justify-content-start align-items-end h-100"></div>
              </div>
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </div>
            </a>
          </div>
          <div class="card-body">
            <a href="{% url 'listings' %}" class="text-reset">
              <h5 class="card-title mb-3">Listings</h5>
            </a>
            <a href="{% url 'listings' %}" class="text-reset">
              <p>View all listings</p>
            </a>
            <h6 class="mb-3">Ksh 190M</h6>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                data-mdb-ripple-color="light">
                <a href="{% url 'listings' %}">
                    <img src="https://images.pexels.com/photos/36362/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="w-100" />
                    <div class="mask">
                        <div class="d-flex justify-content-start align-items-end h-100"></div>
                    </div>
                    <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <a href="{% url 'listings' %}" class="text-reset">
                    <h5 class="card-title mb-3">Listings</h5>
                </a>
                <a href="{% url 'listings' %}" class="text-reset">
                    <p>View all listings</p>
                </a>
                <h6 class="mb-3">Ksh 190M</h6>
            </div>
        </div>
    </div>
    

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
          <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <a href="{% url 'listings' %}">
                  <img src="https://images.pexels.com/photos/1475938/pexels-photo-1475938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                      class="w-100" />
                  <div class="mask">
                      <div class="d-flex justify-content-start align-items-end h-100">
                          <h5>
                              <span class="badge bg-warning ms-2">Hot</span><span
                                  class="badge bg-success ms-2">Complete</span><span
                                  class="badge bg-danger ms-2">-10%</span>
                          </h5>
                      </div>
                  </div>
                  <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
              </a>
          </div>
          <div class="card-body">
              <a href="{% url 'listings' %}" class="text-reset">
                  <h5 class="card-title mb-3">Listings</h5>
              </a>
              <a href="{% url 'listings' %}" class="text-reset">
                  <p>View all listings</p>
              </a>
              <h6 class="mb-3">
                  <s>Ksh 100M</s><strong class="ms-2 text-danger">Ksh 90M</strong>
              </h6>
          </div>
      </div>
  </div>
  
    </div>
  </div>
</section>
{% endblock %}

<!--listings END -->
